@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    color: theme('colors.encre');
    background-color: theme('colors.ivoire');
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-height: 100vh;
  }

  ::selection {
    background-color: theme('colors.orDore');
    color: theme('colors.blanc');
  }
}
